@color1: #1B1F3A;
@color2: #53354A;
@color3: #A64942;
@color4: #FF7844;
@color-bg-text: #F5F5F5;
@text-color-dark: #113F67;
@text-color1: #D5EEFF;
@bg-img1: "../img/city1.jpg";
@bg-img2: "../img/nature1.jpg";
@bg-img3: "../img/beach1.jpg";

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');

body{
  padding: 0;
  margin: 0;
}

section{
  height: 100vh;
  color: @text-color1;
}

.row{
  margin: 0;
}

.info-section{
  text-align: center;
  color: @text-color-dark;
  background-color: @color-bg-text;
  padding-top: 100px;
  padding-bottom: 100px;

  p{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    color: @text-color-dark;
  }

  h3{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: @text-color-dark;
  }
}

#Seccion1{
  /*background-color: @color1;*/
  background: url(@bg-img1) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;

  .landing{
    color: white;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    background: fade(@color1, 20%);
    padding: 30px;

    .landing-links{
      padding-top: 30px;
      text-align: center;
      a{
        margin-top: 20px;
        text-align: center;
        color: white;
        background-color: white;
        background: fade(@color1, 20%);
        border-radius: 10px;
        border: 5px solid white;
        padding: 10px;
      }

      a:hover, a:focus{
        text-decoration: none;
        cursor: pointer;
      }
      
    }
  }

  h1{
    text-align: center;
    font-size: 60pt;
  }

  p{
    text-align: justify;
  }
}

#Seccion2{
  background-color: @color2;
  background: url(@bg-img2) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#Seccion3{
  background-color: @color2;
  background: url(@bg-img3) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer{

  .social{
    text-align: center;

    .fa{
      padding-top: 30px;
      padding-bottom: 50px;
    }

    .fa-facebook-square{
      color: #3b5998;
    }

    .fa-twitter-square{
      color: #00aced;
    }

    .fa-phone-square{
      color: #d32d04;
    }
  }
}
